<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Список товарів</h1>
    <a href="{%url 'create'%}">Додати товар</a>
    {% for i in games  %}
    <h1>{{i.name}}</h1>
    <h3>{{i.descriptions}}</h3>
    <p>{{i.price}}</p>
    <h2>{{i.link}}</h2>
    <a href="{%url 'detail' i.id%}">Деталі ігри</a>
    <a href="{%url 'delete' i.id%}">Видалити гру</a>
    {% endfor %}
</body>
</html>